<h1>
    Welcome to user database !!!!

</h1>

<h2> 
    
    <form action="data_input" method="POST">
        {% csrf_token %}
        <input type="text" value="Enter Member ID" name="id">
        <input type="text" value="Full name" name="name">
        <input type="text" value="Time zone" name="time_zone">
        <br>
        Enter activity period details
        <br>
        <br>
        Day 1
        <input type = "datetime" value="Start time" name="stime1">
        <input type = "datetime" value="End time" name="etime1">
        <br>
        Day 2
        <input type = "datetime" value="Start time" name="stime2">
        <input type = "datetime" value="End time" name="etime2">
        <br>
        Day 3
        <input type = "datetime" value="Start time" name="stime3">
        <input type = "datetime" value="End time" name="etime3">
        <br>
        <br>
        <input type="submit" value = "Submit data">


    </form>
</h2>