{% extends 'base.html' %}
{% block content %}

<font color = 'white'>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
        Employee doesn't exist in Database !!!!
    </h1>
        <br>
        <br>
        <br>
        <br><h2>
        click <a href="userfetch">here</a> to search another user 
        <br>
        <br>
        <br>
        click <a href="home">here</a> to add a new user to the database
    </h2>
    </body>
</font>
{% endblock %}